
    

    <% layout('layouts/boilerplate')%>
<div class="row justify-content-center">
    <h1 class="text-center">Edit Article</h1>
    <div class="col-lg-6 col-md-8 col-11">



        <form action="/articles/<%=article._id%>?_method=PUT" method="POST" class="validated-form"  novalidate enctype="multipart/form-data" >
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="article[title]" required
                    value="<%=article.title %>">
            </div>
           

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description"
                    name="article[description]"><%= article.description%></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label" for="body">Body</label>
                <textarea class="form-control" type="text" id="description"
                    name="article[body]"><%= article.body%></textarea>
            </div>

            

            <div class="mb-3">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile01" >Upload</label>
                    <input type="file" class="form-control" id="inputGroupFile01" name="image" multiple>
                  </div>
            </div>

            <div class="mb-3">
                <% article.images.forEach((img,i)=>{  %>
                    <img class="img-thumbnail" src="<%= img.url %>" alt=""> 
                    <div class="form-check-inline">
                        <input type="checkbox"  id="image-<%= i %>" name="deleteImages[]" value="<%= img.filename %>">
                    </div>
                    <label for="image-<%= i %>">Delete</label>
                <%  }) %>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update article</button>
            </div>
        </form>



        <a href="/articles/<%= article._id %> ">back</a>

    </div>
</div>
